@model ConsumoAlimentario.Models.Usuario
@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Views/Shared/_Registro.cshtml";
}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-4 divIniciarRegistro shadow rounded p-3">
            <form asp-controller="Home" asp-action="Registrarse" method="post">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Email" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" asp-for="Email" type="text" placeholder="Correo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Password" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" type="password" placeholder="Contraseña" asp-for="Password" />
                    </div>
                </div>
                 <div class="row">
                    <div class="col-4">
                        <label asp-for="Nombre" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" asp-for="Nombre" type="text" placeholder="Nombre" />
                    </div>
                </div>
                 <div class="row">
                    <div class="col-4">
                        <label asp-for="Apellido" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" asp-for="Apellido" type="text" placeholder="Apellido" />
                    </div>
                </div>
                 <div class="row">
                    <div class="col-4">
                        <label asp-for="Altura" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" asp-for="Altura" type="text" placeholder="Altura" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Peso" class="labelIniciarRegistro"></label>
                    </div>
                    <div class="col-8">
                        <input class="input-style mb-3" asp-for="Peso" type="text" placeholder="Peso" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 d-flex justify-content-between gap-2">
                        <button type="submit" class="button-verde">Registrate</button>
                        <a asp-action="IniciarSesion" asp-controller="Home" class="button-naranja text-decoration-none text-center"><i class="bi bi-arrow-bar-left"> Regresar</i></a>
                    </div>
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div class="form-group mt-4">
                        <div class="alert alert-danger text-center" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>