@model ConsumoAlimentario.Models.ViewModel.ConsumoDiarioAlimentoVM
@{
    ViewData["Title"] = "AdministrarConsumoDiario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.ConsumoDiarios.Fecha.ToString("D")</h1>

