@model ConsumoAlimentario.Models.ViewModel.ConsumoDiarioAlimentoVM
@{
    ViewData["Title"] = "Cargar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Cargar" asp-controller="CargarAlimentos">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="AlimentoCargado.ConsumoDiario_Id" value="@(ViewBag.Data)"/>
    <div class="container">
        <div class="row ">
            <div class="col-6 offset-3 border p-2">
                <div class="row">
                    <div class="col">
                        <h6 class="text-uppercase text-center mt-5">Cargar alimento</h6>
                    </div>
                </div>
                <hr />
                <div class="row mt-5">
                    <div class="col-4 text-end">
                        <label class="form-label">Alimento: </label>
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(m => m.AlimentoCargado.Alimento_Id, Model.Alimentos,"--Seleccione un alimento--",new{@class ="form-control"})
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 text-end">
                        <label class="form-label">Cantidad: </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" asp-for="AlimentoCargado.Cantidad" />
                        <span asp-validation-for="AlimentoCargado.Cantidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col d-flex justify-content-end">
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

