@model ConsumoAlimentario.Models.ViewModel.ConsumoDiarioAlimentoVM
@{
    ViewData["Title"] = "Cargar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Cargar" asp-controller="CargarAlimentos">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="AlimentoCargado.ConsumoDiario_Id" value="@(ViewBag.Data)" />
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-6 offset-3 div-informacion-usuario rounded p-2">
                <div class="row">
                    <div class="col">
                        <h6 class="labelIniciarRegistro text-center mt-5">Cargar alimento</h6>
                    </div>
                </div>
                <hr />
                <div class="row mt-5">
                    <div class="col-4 text-end">
                        <label class="form-label">Alimento: </label>
                    </div>
                    <div class="col-6 d-flex justify-content-between gap-1">
                        @Html.DropDownListFor(m => m.AlimentoCargado.Alimento_Id, Model.Alimentos,"--Seleccione un alimento--",new{@class ="form-control"})
                        <a asp-action="Index" asp-controller="Alimentos" class="btn btn-outline-success"><i class="bi bi-plus-circle-fill"></i></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 text-end">
                        <label class="form-label">Cantidad: </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" asp-for="AlimentoCargado.Cantidad" />
                        <span asp-validation-for="AlimentoCargado.Cantidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3 ">
                    <div class="col d-flex justify-content-around">
                        
                            <button type="submit" class="button-verde">Agregar</button>
                        
                            <a asp-action="AdministrarConsumoDiario" asp-controller="ConsumoDiarios" asp-route-id="@Model.ConsumoDiario.ConsumoDiario_Id" class="button-rojo text-decoration-none">Volver</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

