:root {
    --verdeOscuro: #7E8136;
    --VerdeClaro: #959940;
    --Naranja: #F0C987;
    --Gris: #F6F7EB;
    --rojo: #B63E52;
    --Blanco: #FFFFFF;
    --Negro: #3C3C3C;
    --FuentePrincipal: 'Alegreya Sans SC', sans-serif;
    --FuenteSecundaria: 'Comfortaa', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url('../imagenes/consumo diario .net.png');
    background-attachment: fixed;
}

.TituloRegistro {
    font-family: var(--FuentePrincipal);
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: var(--VerdeClaro);
    text-shadow: 3px 3px 2px var(--verdeOscuro);
}
.divIniciarRegistro {
    background-color: rgba(255, 255, 255, 0.6);
    width: 500px;
    height: auto;
}
.labelIniciarRegistro{
    font-family: var(--FuenteSecundaria);
    font-weight:300;
    font-size:2rem;
    color:var(--Negro);
}

.button-verde {
    position: relative;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background: var(--VerdeClaro);
    color: var(--Blanco);
    cursor: pointer;
    transition: .5s;
    width: 30rem;
    font-family: var(--FuentePrincipal);
    font-weight: 900;
    font-size: 1.8rem;
    Letter-spacing:.3rem;
    
}

    .button-verde:hover {
        background: var(--verdeOscuro);
    }
.button-naranja {
    position: relative;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background: var(--Naranja);
    color: var(--Blanco);
    cursor: pointer;
    transition: .5s;
    width: 30rem;
    font-family: var(--FuentePrincipal);
    font-weight: 900;
    font-size: 1.8rem;
    Letter-spacing: .3rem;
    text-align:center;
}
    .button-naranja:hover {
        color: var(--Blanco);
        background: #E6A637;
    }

.input-style {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.TienesCuenta {
    font-family: var(--verdeOscuro);
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--Negro);
}

.TienesCuenta a{
    text-decoration:none;
    color:var(--Negro);
}
.TienesCuenta a:hover{
    color:var(--verdeOscuro);
}

.body-registrado{
    background-image:url('../Imagenes/FondoLogueado.png');
    background-attachment:fixed;
}

.div-informacion-usuario {
    background-color: rgba(255, 255, 255, 0.7);
    width: 70rem;
    height: auto;
}

.datos-usuario-titulo {
    font-family: var(--FuentePrincipal);
    font-size:3rem;
    line-height: 2;
    font-weight: 900;
    color: var(--VerdeClaro);
    text-align:center;
}
.datos-usuario-item {
    font-family: var(--FuenteSecundaria);
    font-weight: 300;
    font-size: 2rem;
    color: var(--Negro);
}
.button-rojo {
    position: relative;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background: var(--rojo);
    color: var(--Blanco);
    cursor: pointer;
    transition: .5s;
    width: 30rem;
    font-family: var(--FuentePrincipal);
    font-weight: 900;
    font-size: 1.8rem;
    Letter-spacing: .3rem;
    text-align: center;
}


    .button-rojo:hover {
        color: var(--Blanco);
        background: #D07685;
    }